
<!--Main container start -->
<main class="main-container">

  <!-- Detail extra post start -->
  <div class="extra-posts">
    <div class="extra-post-wrapper">
      <div class="columns column-2">
        <article class="extra-post-box">
          <a href="#" class="extra-post-link">
            <div class="post-image">
              <span><img src="assets/images/popular/corona4.png" width="80" height="80"></span>
            </div>
            <div class="post-title">
              Use a tissue fo coughs
              <span class="post-date">#Coronavirus</span>
            </div>
          </a>
        </article>
      </div>
      <div class="columns column-2">
        <article class="extra-post-box">
          <a href="#" class="extra-post-link">
            <div class="post-image">
              <span><img src="assets/images/popular/hand.png" width="80" height="80"></span>
            </div>
            <div class="post-title">
              Avoid hand touching your face, eyes and nose
              <span class="post-date">#Coronavirus</span>
            </div>
          </a>
        </article>
      </div>
      <div class="columns column-2">
        <article class="extra-post-box">
          <a href="#" class="extra-post-link">
            <div class="post-image">
              <span><img src="assets/images/popular/wash.png" width="80" height="80"></span>
            </div>
            <div class="post-title">
              Wash your hands at least 20 seconds
              <span class="post-date">#Coronavirus</span>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>
  <!-- Detail extra post start -->

  <section class="main-content">
    <div class="main-content-wrapper">
      <div class="content-body">

        <!-- article body start -->
        <article class="article-wrapper">
          <div class="article-header">
            <div class="breadcrumb">
              <ul>
                <li><a href="#"><span routerLinkActive="active" routerLink="home">Home</span></a> <i class="material-icons">&#xE315;</i></li>
                <li><a href="#"><span routerLinkActive="active" routerLink="corona">Coronavirus</span></a></li>
                <li><span></span></li>
              </ul>
            </div>

            <div class="article-header-title">
              <h1 class="article-title">Coronavirus disease (COVID-19) advice for the public</h1>
            </div>

            <div class="article-meta-info">
              <a href="#" class="author-name">WHO</a> —
              <span class="article-reading-time">reading time 3 minute</span>
              <h4 class="article-reading-time"><a href="#" class="nav-link" routerLinkActive="active" routerLink="/corona-case">Coronavirus Live Update</a></h4>
            </div>

          </div>
          <div class="article-content"> <!-- adbox120 or adbox160 -->
            <div class="article-inner" *ngFor="let covid of covidAdvice;">
              <div class="article-description">
                {{covid.heading}}
              </div>
              <p>{{covid.detail}}</p>
              <figure>
                <img src="{{covid.image}}">
                <figcaption>
                  #Coronavirus &nbsp;&nbsp; #COVID19
                </figcaption>
              </figure>
             </div>
            <!--this is important for the left ad box or share box fixer -->
            <div id="endOfTheArticle"></div>
            <!-- More article unit start -->
          </div>
        </article>
        <!-- article body end -->

      </div>
      <div class="content-sidebar">
        <div class="sidebar_inner">

          <div class="widget-item">
            <div class="w-header">
              <div class="w-title">Must Know Facts</div>
              <div class="w-seperator"></div>
            </div>
            <div class="w-boxed-post">
              <ul>
                <li class="active" *ngFor="let popular of PopularPosts;">
                  <a href="#" [ngStyle]="{'background-image':'url(' + popular.image + ')'}">
                    <div class="box-wrapper">
                      <div class="box-left">
                        <span>{{popular.count}}</span>
                      </div>
                      <div class="box-right">
                        <h3 class="p-title">{{popular.heading}}</h3>
                        <div class="p-icons">
                          #Coronavirus &nbsp; #COVID-19
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!--Main container end -->
