
<!-- header start -->
<header class="header">
  <div class="header-wrapper">

    <!--sidebar menu toggler start -->
    <div class="toggle-sidebar material-button">
      <i class="material-icons">&#xE5D2;</i>
    </div>
    <!--sidebar menu toggler end -->
    <!--logo start -->
    <div class="logo-box">
      <h1>
        <a href="index.html" class="logo"></a>
      </h1>
    </div>
    <!--logo end -->

    <div class="header-menu">

      <!-- header left menu start -->
      <ul class="header-navigation" data-show-menu-on-mobile>
        <li>
          <a href="#" class="material-button submenu-toggle" class="nav-link" routerLinkActive="active" routerLink="home">POST</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="corona-case" class="material-button submenu-toggle">CORONAVIRUS</a>
        </li>
      </ul>
      <!-- header left menu end -->

    </div>
    <div class="header-right with-seperator">

      <!-- header right menu start -->
      <ul class="header-navigation">
        <li>
          <a href="javascript:void(0)" class="material-button search-toggle"><i class="material-icons">&#xE8B6;</i></a>
        </li>
        <li>
          <a href="javascript:void(0)" class="material-button submenu-toggle"><i class="material-icons">&#xE7FD;</i> <span class="hide-on-tablet">Account</span></a>
        </li>
        <li class="hide-on-mobile"><a href="javascript:void(0)" class="material-button" data-modal="newsletterModal"><i class="material-icons">&#xE0E1;</i></a></li>
      </ul>
      <!-- header right menu end -->
    </div>

    <!--header search panel start -->
    <div class="search-bar">
      <form class="search-form">
        <div class="search-input-wrapper">
          <input type="text" name="qq" placeholder="search something..." class="search-input">
          <button type="submit" name="search" class="search-submit"><i class="material-icons">&#xE5C8;</i></button>
        </div>
        <span class="search-close search-toggle">
						<i class="material-icons">&#xE5CD;</i>
					</span>
      </form>
    </div>
    <!--header search panel end -->

  </div>
</header>
<!-- header end -->
