
<!-- Left sidebar menu start -->
<div class="sidebar">
  <div class="sidebar-wrapper">
    <!-- side menu logo start -->
    <div class="sidebar-logo">
      <a href="#"></a>
      <div class="sidebar-toggle-button">
        <i class="material-icons">&#xE317;</i>
      </div>
    </div>
    <div id="mobileMenu">
      <div class="sidebar-seperate"></div>
    </div>
    <ul class="sidebar-menu">
      <li class="active">
        <a href="#" class="material-button">
          <span class="menu-icon"><i class="material-icons">&#xE88A;</i></span>
          <span class="menu-label" class="nav-link" routerLinkActive="active" routerLink="home">POST</span>
        </a>
      </li>
      <li>
        <a href="#" class="material-button">
          <span class="menu-icon"><i class="material-icons">&#xE0BF;</i></span>
          <span class="menu-label" class="nav-link" routerLinkActive="active" routerLink="/corona-case">CORONAVIRUS</span>
        </a>
      </li>
    </ul>
  </div>
</div>
