.maincounter-wrap {
  margin-top:15px;
  margin: auto;
  text-align: center;
}

.maincounter-wrap-h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
}

.maincounter-number{
  font-weight: 600;
  color: #696969;
  font-size: 54px;
}
